@page "/myportfolios"

<h3>My Portfolios</h3>

<!-- Search Box -->
<input type="text" value="@searchText" @oninput="OnSearchChanged" placeholder="Search Mutual Funds..." />

<!-- Search Results -->
@if (searchResults.Any())
{
    <ul class="search-dropdown">
        @foreach (var fund in searchResults)
        {
            <li @onclick="() => AddFundToPortfolio(fund)">
                @fund.SchemeName (@fund.NetAssetValue)
            </li>
        }
    </ul>
}

<!-- Selected Funds Table -->
@if (selectedFunds.Any())
{
    <h4>Selected Funds</h4>
    <table border="1">
        <thead>
            <tr>
                <th>Fund Name</th>
                <th>NAV</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fund in selectedFunds)
            {
                <tr>
                    <td>@fund.SchemeName</td>
                    <td>@fund.NetAssetValue</td>
                    <td>@fund.NAVDate</td>
                    <td><button @onclick="() => RemoveFund(fund)">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
}
